@keyframes animatePixels{
    0% {
      opacity: 1;
      
    } 
  40% {
      opacity: 0.4;
      
    }
  60% {
      opacity: 0.4;
      
    }
  100% {
      opacity: 1;
    }
}

@keyframes animateFrame{
    0% {
      transform: scaleX(0) scaleY(0);
      
    } 
  40% {
      transform: scaleX(1) scaleY(0.01);
      
    }
  60% {
      transform: scaleX(1) scaleY(0.01);
      
    }
  100% {
      transform: scaleX(1) scaleY(0.01);
    }
}

@keyframes animateFrame{
    0% {
      transform: scaleX(0) scaleY(8)

    }

    100% {
      transform: scaleX(1) scaleY(1)
    }
}

@keyframes animateFadeOut{
    0% {
      transform: translateY(-100%);

    }

    100% {
      transform: translateY(0%);
    }
}