.button{
    cursor: pointer;

    &--email{
       color: #525252;
       font-size: 8rem;
       font-weight: lighter;
       transition: all 0.2s;
       transform-origin: top;   

       &:hover{
           color: white;          
       }
    }

    &--pressed{
        transform-origin: top;
        transform: scaleX(0);
        opacity: 0;      
    }

    &--UnPressed{
        transform-origin: top;
        transform: scaleX(1);
        opacity: 1;      
    }

    &--send{
        border: none;
        display: block;
        padding: 0.7rem 3.5rem;
        cursor: pointer;
        outline: none;
        background-color: white;
        font-size: 1.8rem;
        margin: 0 auto;
        border-radius: 0.2rem;
        transition: 0.1s;
        &:hover{
            color: gray;
        }
    }
}