.button{
    cursor: pointer;

    &--email{
       color: white;
       font-size: 10rem;
       font-weight: lighter;
       transition: all 0.2s;

       &:hover{
           color: #525252;
       }
    }

    &--pressed{
        transform-origin: top;
        transform: scaleX(0);
        opacity: 0;      
    }
}