.contact{    
    width: 36%;
    height: 50%;
    margin: -6rem auto 0 auto;
    position: relative;
    overflow: hidden;
    z-index: -1;

    @include respond(tab-port){
        width: 65%;
    }

    @include respond(phone){
        width: 80%;
    }

    &__row{
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        @include respond(phone){
            grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        }
    }

    &__column{
        position: relative;
        width: 100%;
        padding: 0 1rem;
        margin: 3rem 0 1rem;
        transition: all 0.5s;    
    }

    &__inputBox{
        position: relative;
        width: 100%;
        height: 4rem;

        @include respond(phone){
            height: 6rem;
        }
    }

    &__input{
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        box-shadow: none;
        border: none;
        outline: none;
        font-size: 2rem;
        padding: 0 1rem;
        z-index: 1;
        color: white;

        @include respond(phone){
            font-size: 4rem;
        }

        &:focus + .heading--secondary,
        &:valid + .heading--secondary{
            top: -2.5rem;
            left: -1rem;
            color: white;
        }

        &:focus ~ .contact__line,
        &:valid ~ .contact__line{
            height: 100%;           
        }
    }

    &__textBox{
        position: relative;
        width: 100%;
        height: 11rem;

        @include respond(tab-port){
            height: 20rem;
        }

        @include respond(phone){
            height: 12rem;
        }

        &-textarea{
            position: absolute;                  
            width: 100%;
            height: 100%;
            background: transparent;
            box-shadow: none;
            border: none;
            outline: none;
            font-size: 2rem;
            padding: 0 1rem;
            z-index: 1;
            color: white;
            resize: none;

            @include respond(phone){
                font-size: 4rem;
            }

            &:focus + .heading--secondary,
            &:valid + .heading--secondary{
            top: -2.5rem;
            left: -1rem;
            color: white;
            }   

            &:focus ~ .contact__line,
            &:valid ~ .contact__line{
                height: 100%;           
            }
        }
    }

    &__line{
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 0.2rem;
        background-color: #525252;
        transition: all 0.5s;
        border-radius: 0.2rem;
        pointer-events: none;
    }

    &__counter{
        display: flex;
        width: 4rem;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: 1.5rem;
    }
   
    &__horizontal-frame{
        content: "";
        position: absolute;
        height: 0.2rem;
        width: 100%;
        background-color: #525252;
        transform: scaleX(0);        

        &--active{
            animation: animateFrame 0.5s 0.5s forwards;
        }

        &--deActive{
            animation: animateFrameIn 0.5s forwards;
        }
    }

    &__overflow{        
        width: 100%;           
        border: 0.2rem solid #525252;
        position: relative;
        top: 0;
        transform: translateY(-110%) translateZ(100px); 

        &--active{
            animation: animateFadeOut 0.5s forwards;
        }

        &--deActive{
            animation: animateFadeIn 0.5s forwards;
        }
    }
};